aloc/xsd/RequestDetails/DashBoard.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/RequestDetails/DashBoard.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/RequestDetails/WFDetails.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/DashBoard.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/WFDetails.xsd" schemaLocation="WFDetails.xsd"/>
	<xs:element name="DashBoard">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Last_Action_Dt" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ALOC_Record_Number" type="xs:integer" minOccurs="0"/>
				<xs:element name="Aloc_Record_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Instrument_Type" type="xs:string" minOccurs="0"/>
				<xs:element name="Currency_Cd" type="xs:string" minOccurs="0"/>
				<xs:element name="Instrument_Amt" type="xs:decimal" minOccurs="0"/>
				<xs:element name="Instrument_ID" type="xs:integer" minOccurs="0"/>
				<xs:element name="State" type="xs:string" minOccurs="0"/>
				<xs:element name="Pending_Action_By" type="xs:string" minOccurs="0"/>
				<xs:element name="Requestor_SSO" type="xs:string" minOccurs="0"/>
				<xs:element name="Approver_SSO" type="xs:string" minOccurs="0"/>
				<xs:element name="Applicant_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Principal_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Tri_Party_Applicant_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Beneficiary_NAme" type="xs:string" minOccurs="0"/>
				<xs:element name="Obligee_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Designated_For_Bundling" type="xs:string" minOccurs="0"/>
				<xs:element name="Date_Received" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Bundle_id" type="xs:integer" minOccurs="0"/>
				<xs:element name="Link_Id" type="xs:integer" minOccurs="0"/>
				<xs:element name="Instrument_Purpose" type="xs:string" minOccurs="0"/>
				<xs:element name="Instrument_Purpose_Id" type="xs:integer" minOccurs="0"/>
				<xs:element name="Amendment_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Rider_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Bond_Type" type="xs:string" minOccurs="0"/>
				<xs:element name="Bond_Type_Id" type="xs:integer" minOccurs="0"/>
				<xs:element name="Sub_Bond_Type_Id" type="xs:integer" minOccurs="0"/>
				<xs:element name="Bond_Sub_Type" type="xs:string" minOccurs="0"/>
				<xs:element name="Issuance_Number" type="xs:string" minOccurs="0"/>
				<xs:element name="Bank_Ref_Number" type="xs:string" minOccurs="0"/>
				<xs:element name="Surety_Ref_Num" type="xs:string" minOccurs="0"/>
				<xs:element name="Country_Of_Issuance" type="xs:string" minOccurs="0"/>
				<xs:element name="Issuance_Date" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Site_Prefix" type="xs:string" minOccurs="0"/>
				<xs:element name="Inc_Dec_Amt" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:WFDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>