aloc/xsd/RequestDetails/FormatDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/RequestDetails/Format.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/RequestDetails/Attachments.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/Format.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/Attachments.xsd" schemaLocation="Attachments.xsd"/>
	<xs:element name="Format">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Op_Code" type="xs:string" minOccurs="0"/>
				<xs:element name="Format_Type_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Format_Value" type="xs:string" minOccurs="0"/>
				<xs:element name="Format_Type" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:Attachment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Comments" type="xs:string" minOccurs="0"/>
				<xs:element name="Requires_Edits" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Send_Back_Notes" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>