aloc/xsd/RequestDetails/IssuingBankDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/RequestDetails/IssuingBankDetails.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/RequestDetails/AddressDetails.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/IssuingBankDetails.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/AddressDetails.xsd" schemaLocation="AddressDetails.xsd"/>
	<xs:element name="IssuingBankDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Op_Code" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:AddressDtls" minOccurs="0"/>
				<xs:element name="Bank_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Credit_Letter_No" type="xs:string" minOccurs="0"/>
				<xs:element name="BIC" type="xs:string" minOccurs="0"/>
				<xs:element name="Comments" type="xs:string" minOccurs="0"/>
				<xs:element name="US_Expiration_Date" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Requires_Edits" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Send_Back_Notes" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>