aloc/xsd/RequestDetails/TrModelDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/RequestDetails/TrModelDetails.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/TrModelDetails.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="TrModelDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="State_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Time_Stamp" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Audit_Note" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>