aloc/xsd/RequestDetails/USForeignFee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/APM/USForeignFee.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/APM/FeeDetails.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/APM/USForeignFee.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/APM/FeeDetails.xsd" schemaLocation="FeeDetails.xsd"/>
	<xs:element name="USForeignFee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USFeeDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns0:FeeDetails" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="US_Total_Amendment" type="xs:decimal" minOccurs="0"/>
				<xs:element name="US_Total_Payment" type="xs:decimal" minOccurs="0"/>
				<xs:element name="US_Total_Amendment_String" type="xs:string" minOccurs="0"/>
				<xs:element name="US_Total_Payment_String" type="xs:string" minOccurs="0"/>
				<xs:element name="ForeignFeeDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns0:FeeDetails" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Foreign_Total_Amendment" type="xs:decimal" minOccurs="0"/>
				<xs:element name="Foreign_Total_Payment" type="xs:decimal" minOccurs="0"/>
				<xs:element name="Foreign_Total_Amendment_String" type="xs:string" minOccurs="0"/>
				<xs:element name="Foreign_Total_Payment_String" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>