icfp/src/main/xsd/Amendment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ICFP/Amendment.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ICFP/Attachments.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ICFP/Amendment.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ICFP/Attachments.xsd" schemaLocation="Attachments.xsd"/>
	<xs:element name="Amendment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Amendment_Type" type="xs:string" minOccurs="0"/>
				<xs:element name="Amendment_Details_Id" type="xs:int" minOccurs="0"/>
				<xs:element name="Amendment_Opcode" type="xs:string" minOccurs="0"/>
				<xs:element name="Amendment_Type_Id" type="xs:int" minOccurs="0"/>
				<xs:element name="Requested_Exception" type="xs:string" minOccurs="0"/>
				<xs:element name="Rationale_For_Exception_Impact" type="xs:string" minOccurs="0"/>
				<xs:element name="Exception_Timeline" type="xs:string" minOccurs="0"/>
				<xs:element name="Exception_Timeline_Id" type="xs:int" minOccurs="0"/>
				<xs:element name="Rationale_For_Exception_Potential_Alternatives" type="xs:string" minOccurs="0"/>
				<xs:element name="Remediation_Timeline_Comments" type="xs:string" minOccurs="0"/>
				<xs:element name="Remediation_Timeline_Timeframe" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:Attachment" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Amendment_Info">
		<xs:sequence>
			<xs:element ref="Amendment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>