icfp/src/main/xsd/Assignment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ICFP/Assignment.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ICFP/EntityInformation.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ICFP/Assignment.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ICFP/EntityInformation.xsd" schemaLocation="EntityInformation.xsd"/>
	<xs:element name="Assignment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="New_Lender_or_Borrower_Flag" type="xs:boolean" minOccurs="0"/>
		
				<xs:element name="PandL_Amt" type="xs:double" minOccurs="0"/>
				<xs:element name="Orig_LegalAgreement_Attached_Flag" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Assignment_Info">
		<xs:sequence>
			<xs:element ref="Assignment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>