aloc/xsd/Swift/SwiftMonitoring.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/Swift/SwiftMonitoring.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/RequestDetails/MsgHeader.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/Swift/SwiftMonitoring.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/MsgHeader.xsd" schemaLocation="../RequestDetails/MsgHeader.xsd"/>
	<xs:element name="SwiftMonitoring">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Actions" type="xs:string" minOccurs="0"/>
				<xs:element name="ALOC_RecordNo" type="xs:int" minOccurs="0"/>
				<xs:element name="ALOC_Record_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Amendment_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Instrument_Type_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Sub_MessageType" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="Date_Time" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Range_Date" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Direction" type="xs:string" minOccurs="0"/>
				<xs:element name="Message_Sequence_Group" type="xs:string" minOccurs="0"/>
				<xs:element name="Instrument" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:Msg_Header" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>