aloc/xsd/Admin/PoleCountry.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/Resources/Schemas/Admin/PoleCountry.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/RequestDetails/MsgHeader.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/Resources/Schemas/Admin/PoleCountry.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/MsgHeader.xsd" schemaLocation="../RequestDetails/MsgHeader.xsd"/>
	<xs:element name="PoleCountry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pole_Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Country_Name" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:Msg_Header" minOccurs="0"/>
				<xs:element name="Pole_ID" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>