aloc/xsd/Admin/PoleNameManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/Resources/Schemas/Admin/PoleNameManagement.xsd"
	 xmlns:ns0="http://treasury.ge.com/schemas/ALOC/RequestDetails/MsgHeader.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/Resources/Schemas/Admin/PoleNameManagement.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://treasury.ge.com/schemas/ALOC/RequestDetails/MsgHeader.xsd" schemaLocation="../RequestDetails/MsgHeader.xsd"/>
	<xs:element name="PoleNameManagement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pole_Id" minOccurs="0"/>
				<xs:element ref="Pole_Name" minOccurs="0"/>
				<xs:element ref="Modified_Pole_name" minOccurs="0"/>
				<xs:element ref="Pole_Status" minOccurs="0"/>
				<xs:element ref="Opcode" minOccurs="0"/>
				<xs:element ref="Pole_Country_Association" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:Msg_Header" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pole_Id" type="xs:int"/>
	<xs:element name="Pole_Name" type="xs:string"/>
	<xs:element name="Pole_Status" type="xs:string"/>
	<xs:element name="Opcode" type="xs:string"/>
	<xs:element name="Pole_Country_Association">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pole_Country_Cd" type="xs:string" minOccurs="0"/>
				<xs:element name="Country_Cd" type="xs:string" minOccurs="0"/>
				<xs:element name="Country_Name" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Modified_Pole_name" type="xs:string"/>
</xs:schema>