aloc/xsd/Admin/RoleSelection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://treasury.ge.com/schemas/ALOC/Admin/RoleSelection.xsd"
	 targetNamespace="http://treasury.ge.com/schemas/ALOC/Admin/RoleSelection.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="RoleSelection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Role_Id" type="xs:int" minOccurs="0"/>
				<xs:element name="Role_Name" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>